html{
  font-size:62.5%;
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #8C1D40;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.nav{
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.6);
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, grey, white);
  height: 90px;
  padding:30px 25px;
  list-style: none;
  display: flex;
  right:40px;
  top: 1px;
}
.nav-items{
  display:flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
.nav-items > li{
  padding: 40px;
  color:rgba(255, 0, 179, 0.582)
}

.footer{
  min-height: 50px;
  background: #65686d;
  flex-shrink: 0;
}
.HelpNav > h1{
  color:rgb(47, 241, 8);
}

.intro{
  color:coral;
  font-weight:bold;
}
.addButton{
  color:rgb(0, 0, 0);
  background-image: linear-gradient(violet);
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.nameList{
  background: #cc7474;
  padding: 20px;
  animation: fade-in 1.2s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@keyframes fade-out {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}

.delButton{
  background: linear-gradient(90deg,
    #00ff00  calc(20%),
    rgb(255, 0, 0) calc(60%)
  );
  position: absolute;
  right:0;
}